button {
    color: white;
    text-align: center;
    transition: 0.3s;
}

button:hover{
    background-color: #a2e4b8;
    color: #1a1a1a;
}

iframe {
    width: 100%;
    height: 50vh;
}

@media only screen and (max-width: 1000px) {
    iframe {
        display: none;
    }
}